service: probot-ops-bot

provider:
  name: aws
  region: us-east-2
  timeout: 10
  memorySize: 512
  stage: dev
  runtime: nodejs12.x
  logRetentionInDays: 60

package:
  exclude:
    - .env

functions:
  handleProbot:
    handler: dist/serverless.probot
    events:
      - http:
          path: /
          method: POST
      - http:
          path: /probot
          method: GET
    environment:
      LOG_LEVEL: debug
      APP_ID: ${env:APP_ID}
      WEBHOOK_SECRET: ${env:WEBHOOK_SECRET}
      PRIVATE_KEY: ${env:PRIVATE_KEY}
