{% macro prEntry(pr) %}
- {{ pr.title | sanitizeTitle }} (#{{ pr.number }}) @{{ pr.user.login }}
{%- endmacro %}

**Links:**

- [Latest Commit](https://github.com/rapidsai/cudf/commit/{{ mergeSHA }})
- [Compare with `main` branch](https://github.com/rapidsai/cudf/compare/main...{{ branchName }})

{% if hasEntries %}
  {% if breaking | length %}
## 🚨 Breaking Changes

    {% for pr in breaking %}
{{ prEntry(pr) }}
    {% endfor %}
  {% endif %}

  {% for _, category in categories %}
    {% if category.prs | length %}
## {{ category.title }}

    {% for pr in category.prs %}
{{ prEntry(pr) }}
    {% endfor %}

    {% endif %}
  {% endfor %}
{% else %}
  There are no changes for v0.{{ versionNumber }}.0 yet.
{% endif -%}
