name: unit-tests
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  probot:
    runs-on: ubuntu-latest
    container: node:20
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install packages
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Run unit tests
        run: npm run test
