name: Unit tests
on: pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    container: node:latest
    steps:
      - name: Install packages
        run: npm ci
      - name: Run unit tests
        run: npm t
